.container {
  background-image: linear-gradient(#333, #382c2c, #E33D33);
  min-height: 100vh; /* Garante que o container tenha, no mínimo, a altura da tela */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.pokemon_container {
  text-align: center;
  width: 33%;
  margin: auto;
  border-radius: 1em;
  border: 2px solid #e33333;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: #333333;
  color: #fff;
  padding: 1em;
}

.pokemon_title {
  font-size: 2.5em;
  text-transform: capitalize;
  background-color: #333;
  color: #fff;
  padding: 0.3em;
  margin: auto;
  width: 300px;
}

.pokemon_container h3 {
  margin: 0.6em auto;
  font-size: 1.2em;
}

.types_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.type {
  padding: 0.6em 1em;
  color: #fff;
  background-color: #000;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* Definições de cor para os tipos de Pokémon */
.type_normal { background-color: #aa9; }
.type_fire { background-color: #f42; }
.type_water { background-color: #39f; }
.type_electric { background-color: #fc3; }
.type_grass { background-color: #7c5; }
.type_ice { background-color: #6cf; }
.type_fighting { background-color: #b54; }
.type_poison { background-color: #a59; }
.type_ground { background-color: #db5; }
.type_flying { background-color: #89f; }
.type_psychic { background-color: #f59; }
.type_bug { background-color: #ab2; }
.type_rock { background-color: #ba6; }
.type_ghost { background-color: #66b; }
.type_dragon { background-color: #76e; }
.type_dark { background-color: #754; }
.type_steel { background-color: #aab; }
.type_fairy { background-color: #e9e; }

.data_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.data_container div {
  margin: 1em 0;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data_height {
  border-right: 1px solid #ccc;
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
  .pokemon_container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .pokemon_container {
    width: 70%;
  }
  .pokemon_title {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .pokemon_container {
    width: 90%;
  }
  .pokemon_title {
    font-size: 1.5em;
  }
  .type {
    font-size: 0.7em;
  }
  .data_container div {
    padding: 0.5em;
  }
}
